*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(shorturl.at/dkFT0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    width: 100%;
    height: 80px;
    position: relative;
    z-index: 9;
}
.container{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}
 
.nav h1{
    color: #fafafa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Marck Script",cursive;
    font-size: 38px;
}
 
 
.filter{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
 
.description{
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fafafa;
}
.description h1{
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Oleo Script', cursive;
}
.description p{
    font-size: 40px;
    font-family: 'Oleo Script', cursive;
}
@media screen and (max-width:700px){
    .container{
        width: 100%;
    }
    
    .nav h1{
        
        left: 50%;
        transform: translateX(-50%);
    }
    
    .description{
        z-index: 0;
        
    }
    .description h1{
        font-size: 1.8rem;
    }
    .description p{
        font-size: .9rem;
    }
}